@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 240 43% 96%;
    --foreground: 243 46% 8%;
    --card: 240 43% 96%;
    --card-foreground: 243 46% 8%;
    --popover: 240 43% 96%;
    --popover-foreground: 243 46% 8%;
    --primary: 243 68% 48%;
    --primary-foreground: 240 43% 96%;
    --secondary: 243 100% 93%;
    --secondary-foreground: 243 46% 8%;
    --muted: 240 43% 20%;
    --muted-foreground: 243 46% 70%;
    --accent: 242 100% 62%;
    --accent-foreground: 240 43% 96%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 243 46% 8%;
    --border: 240 43% 20%;
    --input: 240 43% 20%;
    --ring: 242 100% 40%;
    --radius: 999rem;
  }

  .dark {
    --background: 240 43% 4%;
    --foreground: 243 46% 92%;
    --card: 240 43% 4%;
    --card-foreground: 243 46% 92%;
    --popover: 240 43% 4%;
    --popover-foreground: 243 46% 92%;
    --primary: 243 68% 52%;
    --primary-foreground: 243 46% 92%;
    --secondary: 243 100% 7%;
    --secondary-foreground: 243 46% 92%;
    --muted: 240 43% 80%;
    --muted-foreground: 243 46% 92%;
    --accent: 242 100% 38%;
    --accent-foreground: 243 46% 92%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 243 45% 10%;
    --border: 240 43% 60%;
    --input: 240 43% 80%;
    --ring: 242 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
